@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir-Medium.eot');
    src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/Vazir-Medium.woff') format('woff'),
    url('../font/Vazir-Medium.ttf') format('truetype');
}
body{
    font-family: 'vazir';
}
a{
    text-decoration: none;
}
.row-top-header{
    height: 45px;
}
.search-box input{
    font-size: small;
}
.search-box input:focus{
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}
.search-box button{
    font-size: small;
}
.nav-link{
    color: black !important;
    border-bottom: 2px solid #fff;
    transition: all 0.3s;
}
.nav-link:hover{
    color: #FED34A;
    border-bottom: 2px solid #FED34A;
}
.btn-success:hover{
    background-color: #FED34A;
    color: #000;
}


.slider {
    position: relative;
    height: calc(100vh - 133px);
    
  }

  .slider {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    font-family: 'vazir';

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide-one{
    background: linear-gradient(180deg,rgba(23, 210, 95, 0.2) , rgba(4, 122, 24, 0.5) 80%) , url(../img/slider-one.jpg) fixed 0 40%/cover;
      
  }
  .slide-two{
    background: linear-gradient(180deg,rgba(23, 210, 95, 0.2) , rgba(4, 122, 24, 0.5) 80%) , url(../img/slider-two.jpg) fixed 0 40%/cover;
  }
  .slide-three{
    background: linear-gradient(180deg,rgba(23, 210, 95, 0.2) , rgba(4, 122, 24, 0.5) 80%) , url(../img/slider-three.jpg) fixed 0 40%/cover;
  }

  
  
  .card1{
    background-color: #47A15D;
  }
  .card2{
    background-color: #FED34A;
  }
  .card3{
    background-color: #B8D94F;
  }
  
  .card-title{
    font-size: xx-large;
  }




  @media (min-width:992px) {
    .btn-success{
        font-size: 1.2rem;
    }
    
    .slide-p{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    
  }

  

  @media (min-width:400px) and (max-width:768px){
    .col{
      width: 75%;
    }
    .card-section{
      justify-content: center;
    }
  }