@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir-Medium.eot');
    src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/Vazir-Medium.woff') format('woff'),
    url('../font/Vazir-Medium.ttf') format('truetype');
}
body{
    font-family: 'vazir';
}
a{
    text-decoration: none;
}
.row-top-header{
    height: 45px;
}
.search-box input{
    font-size: small;
}
.search-box input:focus{
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}
.search-box button{
    font-size: small;
}
.nav-link{
    color: black !important;
    border-bottom: 2px solid #fff;
    transition: all 0.3s;
}
.nav-link:hover{
    color: #FED34A;
    border-bottom: 2px solid #FED34A;
}

